@model IEnumerable<Vivero.Models.Plaga>


@{
    ViewData["Title"] = "Plagas";
}
<div class="row">
  <div class="col-md-4">
    <h3 class="titulo">Plagas</h3>
  </div>
</div>


<div class="texto-info">
		
	<img class="plaga" src="~/images/plaga.png">

		Las plagas y enfermedades de las plantas pueden acabar con el duro trabajo de los agricultores y generar pérdidas significativas en los rendimientos y los ingresos, lo cual representa una amenaza importante para la seguridad alimentaria.
	La globalización, el comercio y el cambio climático, como también una reducción en la resiliencia de los sistemas productivos debido a décadas de intensificación agrícola y pérdida de biodiversidad, han contribuido al dramático aumento y propagación de plagas y enfermedades transnacionales de las plantas.
	Las plagas y enfermedades se pueden propagar fácilmente a varios países y alcanzar proporciones epidémicas. Las epidemias y aumentos significativos pueden causar enormes pérdidas en cultivos y pasturas, poniendo en riesgo los medios de vida de los agricultores y la seguridad alimentaria y nutricional de millones de personas en un momento dado.
			
</div>

 <div class="container">

 @foreach (var item in Model)
	{
	 <a asp-controller="Plagas" asp-route-id="@item.id" asp-action="DetalleInvitado">
	  <button type="submit" class="btn btn-light">
	   <div style="width: 18rem;">
		<img src="@Url.Content(item.adicional)" class="card-img-top center-cropped">
		<div class="card-body">
		 <h5 class="card-tittle" align="center">@Html.DisplayFor(modelItem => item.nombreplaga)</h5>
		 
		</div>
	   </div>
	  </button>
	 </a>
	}
</div>