@model Vivero.Models.Planta

@{
    ViewData["Title"] = "Agregar Planta";
}


<div class="row">
    <div class="col-md-4">  
        <h1 class="display-4">Ingresar Planta</h1>
        <form asp-controller="Plantas" asp-action="Create">
            <div class="form-group">
                <label asp-for="Nombreplanta" class="control-label"></label>
                <input asp-for="Nombreplanta" class="form-control" />
            </div>    

            <div class="form-group">
                <label asp-for="imagePlanta" class="control-label"></label>
                <input asp-for="imagePlanta" class="form-control" />
            </div>               
                   
            <div class="form-group">
                <label asp-for="precio" class="control-label"></label>
                <input asp-for="precio" class="form-control" />
            </div>               

            <div class="form-group">
                <label asp-for="stock" class="control-label"></label>
                <input asp-for="stock" class="form-control" />
            </div>                                  

            <div class="form-group">
                 <button type="submit" class="btn btn-default">Cargar</button> 
            </div>                

        </form>
            


        <td></td>    
    


    </div>
</div>


