@model IEnumerable<Vivero.Models.Planta>

@{
    ViewData["Title"] = "Plantas";
}

@* Cambiar el nombre del h3 según el tipo elegido en el combobox (interior o exterior) *@
<div class="row">
  <div class="col-md-4">
    <h3 class="titulo">Plantas </h3>
  </div>
</div>

<div class="dropdown p-3 mb-2 bg-success">
  


</div>


@foreach (var item in Model)
{

<div class="text-center">
  <img src="@Html.DisplayFor(modelItem => item.imagePlanta)" class="rounded" alt="...">
</div>


<div class="card">
  <div class="card-body">
    @Html.DisplayFor(modelItem => item.riegoPlanta)
  </div>
</div>

}
