@model Vivero.Models.Planta
@{
    ViewData["Title"] = "Plantas";
}

@* Cambiar el nombre del h3 según el tipo elegido *@
<div class="row">
  <div class="col-md-4">
    <h3 class="titulo">Plantas</h3>
  </div>
</div>

<div class="dropdown p-3 mb-2 bg-success">
  <button class="btn btn-plantary-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Tipo de planta
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Plantas de interior</a>
    <a class="dropdown-item" href="#">Plantas de exterior</a>
  </div>
</div>

