@model Vivero.Models.Planta
@{
    ViewData["Title"] = "Plantas";
}

@* Cambiar el nombre del h3 según el tipo elegido en el combobox (interior o exterior) *@
<div class="row">
  <div class="col-md-4">
    <h3 class="titulo">Plantas </h3>
  </div>
</div>

<div class="dropdown p-3 mb-2 bg-success">
  <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-leaf"></i>
    Tipo de planta
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Plantas de interior</a>
    <a class="dropdown-item" href="#">Plantas de exterior</a>
  </div>
</div>

<<<<<<< HEAD

<div class="row">
  <div class="col-md-4">
    <h3 class="titulo">Plantas </h3>
  </div>
</div>

=======
>>>>>>> 17243e4999000a2998c23d11bbf04a09a69db141
<h2>Estas son nuestras plantas</h2>

<p>Haz click alguna para conocerla más!</p>

<div id="btnContainer">
  <button class="btn active" onclick="listView()"><i class="fa fa-bars"></i> Lista</button> 
  <button class="btn" onclick="gridView()"><i class="fa fa-th-large"></i> Grilla</button>
</div>
<br>

<div class="row">
  <div button class="column" style="background-color:#aaa;">
    <h2>Column 1</h2>
    <p>Some text..</p>
  </div>
</div>  

<div class="row">
  <div class="column" style="background-color:#bbb;">
    <h2>Column 2</h2>
    <p>Some text..</p>
  </div>
</div>

<div class="row">
  <div class="column" style="background-color:#ccc;">
    <h2>Column 3</h2>
    <p>Some text..</p>
  </div>
</div>

<div class="row">
  <div class="column" style="background-color:#ddd;">
    <h2>Column 4</h2>
    <p>Some text..</p>
  </div>
</div>

<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
		
<link rel="stylesheet" type="text/css" href="../../wwwroot/css/boxlight.css">

		<link rel="stylesheet" type="text/css" href="../../wwwroot/css/styles.css">
		<link rel="stylesheet" type="text/css" href="../../wwwroot/css/blocks_styl.css">
	
		 
	</head>

  <body >

<div class="b56-conetnt">
	

<section class="b56-wrap-b wancho">
	<h2>Ama lo que haces, Aprende como</h2>
	<div class="b56-wrap-ctn noslider">
				<a href=" " class="b56-item-b" data-color="#E8F51E">
			<div class="b56-img-default">
				<figure>
					<img src="../../wwwroot/images/plantaA.jpg" alt="" width="96" height="96">
				</figure>
			</div>
			<div class="b56-img-hover">
				<figure>
					<img src="../../wwwroot/images/plantaA.jpg" alt="" width="96" height="96">
				</figure>
			</div>
			<p>PLANTA A</p>
			<span>PRECIO</span>
		</a>
				<a href=" " class="b56-item-b" data-color="#E8F51E">
			<div class="b56-img-default">
				<figure>
					<img src="../../wwwroot/images/plantaB.jpg" alt="" width="130" height="96">
				</figure>
			</div>
			<div class="b56-img-hover">
				<figure>
					<img src="../../wwwroot/images/plantaB.jpg" alt="" width="130" height="96">
				</figure>
			</div>
			<p>PLANTA B</p>
			<span>PRECIO</span>
		</a>

		
				<a href="" class="b56-item-b" data-color="#E8F51E">
			<div class="b56-img-default">
				<figure>
					<img src="../../wwwroot/images/plantaC.jpg" alt="" width="96" height="96">
				</figure>
			</div>
			<div class="b56-img-hover">
				<figure>
					<img src="../../wwwroot/images/plantaC.jpg" alt="" width="96" height="96">
				</figure>
			</div>
			<p>PLANTA C</p>
			<span>PRECIO</span>
		</a>
				<a href="" class="b56-item-b" data-color="#E8F51E">
			<div class="b56-img-default">
				<figure>
					<img src="../../wwwroot/images/plantaD.jpg" alt="" width="96" height="96">
				</figure>
			</div>
			<div class="b56-img-hover">
				<figure>
					<img src="../../wwwroot/images/plantaD.jpg" alt="" width="96" height="96">
				</figure>
			</div>
			<p>PLANTA D</p>
			<span>PRECIO</span>
		</a>
				<a href="" class="b56-item-b" data-color="#E8F51E">
			<div class="b56-img-default">
				<figure>
					<img src="../../wwwroot/images/plantaE.jpg" alt="" width="148" height="96">
				</figure>
			</div>
			<div class="b56-img-hover">
				<figure>
					<img src="../../wwwroot/images/plantaE.jpg" alt="" width="148" height="96">
				</figure>
			</div>
			<p>PLANTA E</p>
			<span>PRECIO</span>
		</a>
			</div>
	
	
</section>
</div>




  <script src="../../wwwroot/css/jquery-3.2.1.min.js.descarga" type="text/javascript"></script>
  <script type="text/javascript">

	$(document).ready(function() {
		

		function sliderOw(){
			$('.b56-wrap-ctn').addClass('owl-carousel')
			$('.b56-wrap-ctn').owlCarousel({
				loop:false,
				margin:20,
				nav:true,
				// autoplay:true,
				autoplayTimeout: 3000,
				// navText:['<span class="icon-arrow-r"></span>','<span class="icon-arrow-r"></span>'],
				responsive:{
					320:{
						items:1,
						stagePadding: 30
					},
					480:{
						items:2
					},
					640:{
						items:3
					},
					960:{
						items:4
					},
					1024:{
						items:4
					},
					1800:{
						items:5
					}
				}
			});
		 }

 		// Cambiar background con data-color.
 		function bgcolorHover(){
 			$('.b56-item-b').hover(function() {
 				var bgcolor = $(this).attr('data-color');
 				$(this).css('background-color', bgcolor);
 			}, function() {
 				$(this).css('background-color', '#fff');
 			});
 		}

 		bgcolorHover();


	});
</script>	
</body>

<script>
// Get the elements with class="column"
var elements = document.getElementsByClassName("column");

// Declare a loop variable
var i;

// List View
function listView() {
  for (i = 0; i < elements.length; i++) {
    elements[i].style.width = "100%";
  }
}

// Grid View
function gridView() {
  for (i = 0; i < elements.length; i++) {
    elements[i].style.width = "50%";
  }
}

/* Optional: Add active class to the current button (highlight it) */
var container = document.getElementById("btnContainer");
var btns = container.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>

