@model Vivero.Models.TipoPlantaViewModel

@{
    ViewData["Title"] = "Plantas";
}

<div class="row">
	<div class="col-md-4">
		<h3 class="titulo">Plantas </h3>
	</div>
			<form asp-controller="TipoPlantas" asp-action="Index" method="post" role="form">
				<div class="form-group">
					<div class="alert-danger" asp-validation-summary="ModelOnly"></div>
					<label asp-for="ID"></label>
					<select asp-for="ID" 
							class="form-control" 
							asp-items="@(new SelectList(Model.ListaTipoPlanta,"Value", "Text"))">
					</select>
				</div>
				<div class="form-group">
					<input id="Submit1" class="btn btn-success" type="submit" value="submit" />
				</div>
			</form>

@* Para que salga algo así *@
	<div class="dropdown p-3 mb-2 bg-success">
	<button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-leaf"></i>
		Tipo de planta
	</button>
	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		<a class="dropdown-item" href="#">Plantas de interior</a>
		<a class="dropdown-item" href="#">Plantas de exterior</a>
	</div>
		<a class="nav-link text-dark" asp-area="" asp-controller="Plantas" asp-action="Formulario">Formulario</a>
	</div>
</div>