@model Vivero.Models.Planta

@{
    ViewData["Title"] = "Plantas";
}

<div class="row">
  <div class="col-md-4">
    <h3 class="titulo">@Model.Nombre </h3>
  </div>
</div>
  

    <div class="text-center">
      @* <img src="@Html.DisplayFor(modelItem => item.Imagen)" class="rounded" alt="..."> *@
      <img src="@Url.Content(Model.ImagenURL)" class="rounded">
    </div>


    <div class="card">
      <div class="card-body">
        @Html.DisplayFor(modelItem => Model.Riego)
      </div>
    </div>
