@model IEnumerable<Vivero.Models.Planta>

@{
    ViewData["Title"] = "Plantas";
}

<div class="row">
  <div class="col-md-4">
    <h3 class="titulo">Plantas </h3>
  </div>
</div>
  


@foreach (var item in Model)
{

    <div class="text-center">
      <img src="@Html.DisplayFor(modelItem => item.Imagen)" class="rounded" alt="...">
    </div>


    <div class="card">
      <div class="card-body">
        @Html.DisplayFor(modelItem => item.Riego)
      </div>
    </div>

}
