@model List<TipoPlanta>

@{
	ViewData["Title"] = "Plantas";
}

<div class="row">
	<div class="col-md-4">
		<h3 class="titulo">Plantas </h3>
	</div>
</div>

<div class="dropdown p-3 mb-2 bg-success">
	<form asp-controller="Planta" asp-action="VerPlantas">
	<select class="custom-select btn btn-outline-light" type="button"  name="BuscarPlanta" onchange="this.form.submit()">
		<option selected><i class="fas fa-leaf"></i>Tipo de planta</option>
			<option class="dropdown-item" value="2">Plantas de Interior</option>
			<option class="dropdown-item" value="3">Plantas de Exterior</option>
	</select>
	</form>
	<br>
	<a class="btn btn-outline-light" href="~/Planta/Formulario">Agregar</a>
</div>


<div class="container">
	@foreach (var tipo in Model)
	{
		@if(tipo.Plantas.Count()!=0)
		{
			@foreach (var planta in tipo.Plantas)
			{
				<a asp-controller="Planta" asp-action="Detalle" asp-route-id="@planta.ID">
				<button type="submit" class="btn btn-light">
				<div style="width: 18rem;">
					<img src="@Url.Content(planta.ImagenURL)" class="card-img-top center-cropped">
					<div class="card-body">
						<h5 class="card-tittle" align="center">@planta.Nombre</h5>
						<!-- Al Carrito -->
						<a href="#" align="center" class="btn btn-outline-success">PEN @planta.Precio.ToString()</a>
					</div>
				</div>
				</button>
				</a>
			}
		}		
	}
 </div>
