@{
    ViewData["Title"] = "Home";
}

<head>
  <style>
    .otto {
      color: white;
      font-size: 5em;
      text-shadow: 
    1px 0px 1px #bbb, 0px 1px 1px #bbb, 
    2px 1px 1px #bbb, 1px 2px 1px #bbb,
    3px 2px 1px #bbb, 2px 3px 1px #bbb,
    4px 3px 1px #bbb, 3px 4px 1px #bbb,
    5px 4px 1px #bbb, 4px 5px 1px #bbb,
    6px 5px 1px #bbb, 5px 6px 1px #bbb,
    7px 6px 1px #bbb;
    }
  </style>
</head>
<body style="background-image: url(../images/bgimage.png);">
<!-- Messenger Plugin de chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin de chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "2059999444087304");
      chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v14.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
  <div>
    <h1 class="otto">TU GUÍA <br>PARA SALVAR <br>AL MUNDO</h1>
  </div> 
</body> 




