

.b56-conetnt {
    background: #fafafa;
    padding-top: 40px;
  }
  .b56-wrap-b {
    position: relative;
  }
  .b56-wrap-b .g-enlace.azul {
    bottom: 72px;
    right: 0;
  }
  .b56-wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: end;
    -moz-box-align: end;
    -o-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .b56-item {
    width: 15.5%;
    margin-right: 1%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
  }
  .b56-item:last-child {
    margin-right: 0;
  }
  .b56-item.enlace a {
    display: block;
    background: #da291c;
    border-radius: 3px;
    color: #fff;
    padding: 14px;
    height: 48px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    font-family: 'Barlow-Bold', sans-serif;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    text-align: center;
  }
  .b56-item.enlace a:hover {
    -webkit-box-shadow: 0 7px 14px 0 rgba(0,0,0,0.25);
    box-shadow: 0 7px 14px 0 rgba(0,0,0,0.25);
    background-color: #cd3f35;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .b56-item.enlace:before {
    display: none;
  }
  .b56-item:before {
    content: '\e90f';
    position: absolute;
    right: 10px;
    top: 50%;
    font-size: 12px;
    font-family: 'icomoon';
    pointer-events: none;
    color: #9e9e9e;
    display: inline-block;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    transition: all 400ms ease;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .b56-item label {
    margin: 0;
    margin-bottom: 6px;
    font-size: 16px;
    color: #1f1f1f;
    font-family: 'Barlow-Regular', sans-serif;
  }
  .b56-item select {
    width: 100%;
    height: 48px;
    border-radius: 4px;
    border: solid 1px #eee;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Barlow-Regular', sans-serif;
    color: #9e9e9e;
    cursor: pointer;
    background: #fff;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding-right: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .b56-item select::-ms-expand {
    display: none;
  }
  .b56-item select::-ms-expand option {
    color: #1f1f1f;
  }
  .b56-item select::-ms-expand.selection {
    color: #1f1f1f;
  }
  .b56-img-hover {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    transition: all 400ms ease;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    margin: auto;
    left: 0;
  }
  
  .b56-wrap-ctn .owl-nav .owl-next span,
  .b56-wrap-ctn .owl-nav .owl-prev span {
    font-size: 0px;
  }
  .b56-wrap-ctn .owl-dots {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    position: absolute;
    left: 0%;
    bottom: 0;
  }
  .b56-wrap-ctn .owl-dots .owl-dot {
    height: 8px;
    width: 8px;
    background: #5fd308;
    border-radius: 50%;
    margin-right: 10px;
  }
  .b56-wrap-ctn .owl-dots .owl-dot.active {
    -webkit-transform: scale(1.8);
    -moz-transform: scale(1.8);
    -o-transform: scale(1.8);
    -ms-transform: scale(1.8);
    transform: scale(1.8);
  }
  .b56-wrap-ctn.noslider {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .b56-wrap-ctn.noslider .b56-item-b {
    width: 18%;
    margin: 0;
    margin-right: 2%;
  }
  .b56-wrap-b {
    padding-top: 30px;
    padding-bottom: 133px;
  }
  .b56-wrap-b .owl-carousel .owl-item img {
    width: inherit;
  }
  .b56-wrap-b .owl-stage {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .b56-wrap-b .owl-stage .owl-item {
    padding: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .b56-wrap-b h2 {
    font-size: 28px;
    color: #0033a0;
    margin: auto;
    font-family: 'Barlow-Regular', sans-serif;
    margin-bottom: 50px;
    text-align: center;
  }
  .b56-item-b {
    display: block;
    text-align: center;
    border-radius: 6px;
    position: relative;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 31px;
    padding-bottom: 30px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
  }
  .b56-item-b p {
    font-size: 21px;
    font-family: 'Barlow-Regular', sans-serif;
    color: #0f4899;
    margin: auto;
    line-height: 1.1;
    margin-bottom: 5px;
    height: 69px;
    overflow: hidden;
  }
  .b56-item-b span {
    font-size: 14px;
    font-family: 'Barlow-Regular', sans-serif;
    color: #868686;
    display: block;
  }
  .b56-item-b figure {
    text-align: center;
    margin-bottom: 12px;
  }
  .b56-item-b figure img {
    max-width: 100%;
    height: auto;
  }
  .b56-item-b:nth-child(5n) {
    margin-right: 0%;
  }
  @media screen and (min-width: 1024px) {
    .b56-item-b:hover {
      -webkit-box-shadow: 0 10px 20px 0 rgba(0,0,0,0.19), 0 6px 6px 0 rgba(0,0,0,0.26);
      box-shadow: 0 10px 20px 0 rgba(0,0,0,0.19), 0 6px 6px 0 rgba(0,0,0,0.26);
      -webkit-transition: all 400ms ease;
      -moz-transition: all 400ms ease;
      -o-transition: all 400ms ease;
      -ms-transition: all 400ms ease;
      transition: all 400ms ease;
    }
    .b56-item-b:hover .b56-img-default {
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      visibility: hidden;
      -webkit-transition: all 400ms ease;
      -moz-transition: all 400ms ease;
      -o-transition: all 400ms ease;
      -ms-transition: all 400ms ease;
      transition: all 400ms ease;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
    }
    .b56-item-b:hover .b56-img-hover {
      opacity: 1;
      -ms-filter: none;
      filter: none;
      visibility: visible;
      -webkit-transition: all 400ms ease;
      -moz-transition: all 400ms ease;
      -o-transition: all 400ms ease;
      -ms-transition: all 400ms ease;
      transition: all 400ms ease;
      position: relative;
    }
    .b56-item-b:hover p,
    .b56-item-b:hover span {
      color: #fff;
      -webkit-transition: all 400ms ease;
      -moz-transition: all 400ms ease;
      -o-transition: all 400ms ease;
      -ms-transition: all 400ms ease;
      transition: all 400ms ease;
    }
  }
  @media screen and (max-width: 1200px) {
    .b56-wrap-ctn.noslider .b56-item-b {
      width: 22%;
      margin-right: 4%;
      margin-bottom: 30px;
      min-width: 220px;
    }
    .b56-wrap-b h2 {
      margin-bottom: 30px;
    }
    .b56-item-b {
      margin: auto;
      margin-bottom: 20px;
    }
    .b56-item-b:nth-child(5n) {
      margin-right: 0%;
      margin: auto;
    }
    .b56-item-b:nth-child(3n) {
      margin-right: 0%;
    }
    .b56 h2,
    .b56-wrap-b h2 {
      font-size: 26px;
    }
    .b56-item {
      width: 49%;
      margin-bottom: 15px;
    }
    .b56-item:nth-child(2n) {
      margin-right: 0%;
    }
    .b56-item:nth-child(5n) {
      margin-right: 0%;
    }
    .b56-item.enlace {
      width: 100%;
      text-align: center;
      margin-top: 15px;
    }
    .b56-item:nth-child(5n) {
      width: 100%;
    }
    .b56-item {
      margin-right: 2%;
    }
  }
  @media screen and (max-width: 768px) {
    .b56-wrap-b {
      padding-bottom: 110px;
    }
    .b56-item-b p {
      font-size: 18px;
    }
    .b56 h2,
    .b56-wrap-b h2 {
      font-size: 22px;
    }
  }
  @media screen and (max-width: 640px) {
    .b56-wrap-b h2 {
      margin-bottom: 20px;
    }
    .b56-item-b {
      padding-bottom: 20px;
      padding-top: 20px;
      margin: auto;
      margin-bottom: 20px;
    }
    .b56-item-b:nth-child(2n) {
      margin-right: 0%;
    }
    .b56-item-b:nth-child(5n) {
      margin-right: 0%;
      margin: auto;
    }
    .b56-item-b:nth-child(3n) {
      margin-right: 0%;
    }
    .b56-item {
      width: 100%;
      margin-right: 0%;
    }
  }
  @media screen and (max-width: 480px) {
    .b56 {
      padding-top: 10px;
      margin-bottom: 10px;
    }
    .b56.wancho {
      -webkit-box-shadow: 0px 0px;
      box-shadow: 0px 0px;
      background: #fafafa;
    }
    .b56-item-b p {
      font-size: 21px;
    }
    .b56-item-b {
      width: 100%;
      margin-right: 0%;
      margin: auto;
      margin-bottom: 20px;
      padding-top: 35px;
      padding-bottom: 35px;
      max-width: 240px;
    }
    .b56-item-b:nth-child(2n) {
      margin-right: 0%;
    }
    .b56-item-b:nth-child(5n) {
      margin-right: 0%;
      margin: auto;
    }
    .b56-item-b:nth-child(3n) {
      margin-right: 0%;
    }
    .b56-item.enlace a {
      font-size: 13px;
      width: 100%;
    }
    .b56 h2,
    .b56-wrap-b h2 {
      font-size: 21px;
      text-align: center;
    }
    .b56 {
      padding-left: 0;
      padding-right: 0;
    }
    .b56-wrap-b .owl-stage {
      padding-left: 0px !important;
    }
    .b56-wrap-b {
      padding-left: 10px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    .b56-wrap-b.wancho {
      width: 100%;
    }
    .b56-wrap-ctn .owl-dots {
      left: 5px;
    }
    .b56-wrap-b .owl-stage .owl-item {
      max-width: 260px;
    }
  }